setuptools>=68
wheel
pip

fastapi==0.104.1
uvicorn[standard]==0.24.0
gunicorn

pandas==2.1.4
numpy==1.24.3
scikit-learn==1.3.2

# safer versions
xgboost==1.7.6
tensorflow==2.14.1

matplotlib==3.7.3
seaborn==0.12.2
plotly==5.17.0

Pillow==10.1.0
mplcursors==0.5.2

oandapyV20==0.6.3
requests==2.31.0
ta==0.10.2
networkx==3.2.1
supabase==1.1.0
python-dateutil==2.8.2
statsmodels==0.13.5
